div(id="view-add-pilot" class="col-md-4")
    h3 Add Pilot
    form(id="add-pilot")
        div(class="input-group")
            label(for="pilot-callsign") Callsign:
            input(id="pilot-callsign" name="pilot-callsign" class="form-control")
        div(class="input-group")
            label(for="pilot-owner") Player:
            select(id="pilot-owner" name="pilot-owner" class="form-control")
                option(value="") ---
                | {{#users}}
                option(value="{{name}}") {{displayName}}
                | {{/users}}
        button(type="submit" class="btn btn-default") Add Pilot
