div(id="view-campaign")
    div(class="row")
        div(class="col-sm-12 col-md-12 col-lg-12")
            h1 Campaign
    div(class="row")
        div(class="col-sm-12 col-md-12 col-lg-12")
            div(id="child-view-pilots")
    div(class="row")
        div(class="col-sm-12 col-md-6 col-md-6")
            div(id="child-view-mission-deck")
        div(class="col-sm-12 col-md-6 col-lg-6")
            div(id="child-view-missions")
