div(id="view-campaign")
    div(class="row")
        div(class="col-md-4")
            h1 Campaign
    div(class="row")
        div(id="child-view-pilots")
        div(id="child-view-add-pilot")
    div(class="row")
        div(id="child-view-pilot-details")
