div(id="view-campaign")
    h1 Campaign
    div(id="campaign-tabs")
        ol
            li
                a(href="#campaign-home") Home
            | {{#pilots}}
            li
                a(href="#pilot-{{_id}}") {{callsign}}

            | {{/pilots}}

        div(id="campaign-home")
            h2 {{campaign.displayName}}
            p campaign details here
        | {{#pilots}}
        div(id="pilot-{{_id}}")
            h2 {{callsign}} -- {{owner}}
            p pilot details go here
        | {{/pilots}}
