div(id="view-header" class="container")
    div(class="navbar-header")
        a(class="navbar-brand" href="#" id="header-home") Home

    div
        ul(id="campaign-nav" class="nav navbar-nav")
            | {{#campaign}}
            li(class="active")
                a(data-id="{{_id}}" data-kind="campaign" href="#") {{displayName}}
            | {{/campaign}}
            | {{#pilots}}
            li
                a(data-id="{{_id}}" data-kind="pilot" href="#") {{callsign}}
            | {{/pilots}}

        ul(class="nav navbar-nav navbar-right")
            li
                a(id="logout" href="#") Logout
