div(id="view-header" class="container")
    div(class="navbar-header")
        a(class="navbar-brand" href="#" id="header-home") Home

    div
        ul(id="campaign-nav" class="nav navbar-nav")
            | {{#campaign}}
            li(class="{{navActive}}")
                a(data-id="{{_id}}" data-kind="campaign" href="#")
                    i(class="xwing-miniatures-font xwing-miniatures-font-rebel")
                    | &nbsp;{{displayName}}
            | {{/campaign}}
            | {{#pilots}}
            li(class="{{navActive}}")
                a(data-id="{{_id}}" data-kind="pilot" href="#")
                    i(class="xwing-miniatures-ship xwing-miniatures-ship-{{ship}}")
                    | &nbsp;{{callsign}}
            | {{/pilots}}

        ul(class="nav navbar-nav navbar-right")
            li
                a(id="logout" href="#") Logout
