div(class="container")
    div(class="navbar-header")
        a(class="navbar-brand" href="#" id="header-home") Home

    div
        ul(class="nav navbar-nav")
            li
                a Item 1
            li
                a Item 2
            li
                a Item 3

        ul(class="nav navbar-nav navbar-right")
            li
                a(id="logout" href="#") Logout
