div(id="view-messages" class="row")
    | {{#message}}
    p(class="alert alert-{{level}}" role="alert")
        strong {{levelText}}:&nbsp;
        | {{text}}
    | {{/message}}

    | {{#messagesCount}}
    p(id="message-log-toggle")
        span(id="message-log-toggle-icon") {{{toggleIcon}}}
        | &nbsp; {{messagesCount}} more messages
    | {{/messagesCount}}
    div(id="message-log" class="{{logState}}")
        | {{#messages}}
        p(class="alert alert-{{level}}" role="alert")
            strong {{levelText}}:&nbsp;
            | {{text}}
        | {{/messages}}
