div(id="view-missions" class="col-md-4")
    h3 Played Missions
    table(class="table table-striped")
        thead
            tr
                th Mission
                th Status
                th Rebel VP
                th Imperial VP
                th Action
        tfoot
            tr
                td
                    strong Total
                td
                    strong {{victoryStatus}}
                td
                    strong {{totalRebelVP}}
                td
                    strong {{totalImperialVP}}
                td
        tbody
            | {{#playedMissions}}
            tr
                td {{displayName}}
                td {{status}}
                td {{rebelVP}}
                td {{imperialVP}}
                td
                    button(data-id="{{name}}"
                           class="btn btn-xs btn-danger") delete
            | {{/playedMissions}}
