div(id="view-mission-deck" class="col-md-4")
    h3 Mission Deck
    table(class="table table-striped")
        thead
            tr
                th Mission
                th Territory
                th VP
                th Info
                th Status
        tbody
            | {{#missions}}
            tr
                td
                    strong {{displayName}}
                td(class="{{territory}}") {{territory}}
                td {{rebelVP}} / {{rebelVP}}
                td
                    small {{info}}
                td
                    button(class="btn btn-success"
                           data-id="{{name}}"
                           data-status="victory") Victory
                    button(class="btn btn-warning"
                           data-id="{{name}}"
                           data-status="defeat") Defeat
            | {{/missions}}
