div(id="view-missions")
    h3 Played Missions
    table(class="table table-striped")
        thead
            tr
                th Mission
                th Status
                th
                    i(class="xwing-miniatures-font xwing-miniatures-font-rebel")
                    | &nbsp; Rebel VP
                th
                    i(class="xwing-miniatures-font xwing-miniatures-font-empire")
                    | &nbsp; Imperial VP
                th Action
        tfoot
            tr
                td
                    strong Total
                td
                    strong {{victoryStatus}}
                td
                    strong {{totalRebelVP}}
                td
                    strong {{totalImperialVP}}
                td
        tbody
            | {{#playedMissions}}
            tr
                td {{displayName}}
                td {{status}}
                td {{rebelVP}}
                td {{imperialVP}}
                td
                    button(data-id="{{name}}"
                           class="btn btn-xs btn-danger") delete
            | {{/playedMissions}}
