div(id="view-new-campaign")
    h2 Start a New Campaign
    form(id="campaign-start" action="")
        label(for="campaign-displayName") Name:
        input(id="campaign-displayName" name="campaign-displayName")
        input(type="submit")
