div(id="view-new-campaign" class="col-md-4")
    h2 Start a New Campaign
    form(id="campaign-start" action="")
        div(class="form-group")
            label(for="campaign-displayName") Name:
            div(class="input-group")
                input(id="campaign-displayName" name="campaign-displayName"
                      class="form-control")
                span(class="input-group-btn")
                    button(type="submit" class="btn btn-default") Create
