div(id="view-pilot-details")
    h3 Pilot Details ({{pilot.callsign}})

    table
        tbody
            tr
                th Player
                td {{pilot.owner}}
            tr
                th Callsign
                td {{pilot.callsign}}
            tr
                th Current XP
                td currentXP() does not work
