div(id="view-pilot" class="col-md-6")
    div(class="row")
        div(class="col-sm-12")
            div(id="child-view-pilot-details")

    div(class="row")
        div(class="col-sm-4")
            div(id="child-view-pilot-missions")

        div(class="col-sm-4")
            div(id="child-view-pilot-kills")

        div(class="col-sm-4")
            div(id="child-view-pilot-upgrades")


    div(class="row")
        div(class="col-sm-6")
            div(id="child-view-pilot-aftermath")

    div(class="row")
        div(class="col-md-8")
            div(id="child-view-store")
        div(class="col-md-4")
            div(id="child-view-pilot-ship")
