div(id="view-pilot-upgrades")
    table(class="table table-striped table-condensed")
        caption Upgrades
        thead
            tr
                th Name
                th XP
        tbody
            | {{#upgrades}}
            tr
                td {{displayName}}
                td {{xp}}
            | {{/upgrades}}
