div(id="view-pilots")
    h3 Pilots
    ol
        | {{#pilots}}
        li
            a(href="#" data-id="{{_id}}")
                strong {{callsign}} &nbsp;
                small played by &nbsp;
                em {{owner}}
        | {{/pilots}}
