div(id="view-pilot-kills")
    table(class="table table-striped table-condensed")
        caption Kills
        thead
            tr
                th Ship Type
                th Kills
        tbody
            tr
                td Tie Fighter
                td xxxxxxx
            tr
                td Tie Interceptor
                td xxxxxxx
