div(id="view-pilots" class="col-md-4")
    h3 Pilots
    ol
        | {{#pilots}}
        li
            a(href="#" data-id="{{_id}}")
                strong {{callsign}} &nbsp;
                small played by &nbsp;
                em {{owner}}
            button(class="btn btn-danger btn-xs"
                   data-id="{{_id}}"
                   data-version="{{version}}") Delete
        | {{/pilots}}
