div(id="view-pilot" class="col-md-6")
    h3 Pilot Details ({{pilot.callsign}})
    |{{^pilot}}
    p no pilot
    | {{/pilot}}
    table
        tbody
            tr
                th Player
                td {{pilot.owner}}
            tr
                th Callsign
                td {{pilot.callsign}}
            tr
                th Current XP
                td currentXP() does not work

    | {{#pilot}}
    h4 Ship
    | {{#pilot.ship}}
    p Current ship is {{pilot.ship}}
    | {{/pilot.ship}}

    | {{#pilot.ship}}
    p Select a ship.
    | {{/pilot.ship}}

    form(id="change-ship")
        div(class="form-group")
            label(for="change-ship-name") Change to
            div(class="input-group")
                select(id="change-ship-name" name="change-ship-name" class="form-control")
                    | {{#ships}}
                    option(value="{{name}}") {{displayName}}
                    | {{/ships}}
                span(class="input-group-btn")
                    button(type="submit" class="btn btn-default") Change

    | {{/pilot}}
