div(id="view-store")
    h4 Buy Upgrades

    ul(class="nav nav-tabs")
        | {{#slots}}
        li(class="{{active}}")
            a(href="#" data-id="{{name}}") {{displayName}}
        | {{/slots}}

    table(id="pilot-upgrades" class="table table-hover")
        thead
            tr
                th(class="col-sm-3") Slot
                th(class="col-sm-5") Name
                th(class="col-sm-2") Cost
                th(class="col-sm-2") Action
        tbody
            | {{#upgrades}}
            tr
                td(data-id="{{name}}" data-toggle="trigger") {{#decanonicalize}}{{slot}}{{/decanonicalize}}
                td(data-id="{{name}}" data-toggle="trigger")
                    span(data-toggle="icon")
                    | &nbsp;{{displayName}}
                    div(class="hidden" data-toggle="show")
                        small(data-toggle="content")
                td {{cost}}
                td
                    button(class="btn btn-xs btn-primary"
                           data-id="{{name}}") Buy
            | {{/upgrades}}
