doctype strict
html(lang="en")
    head
        title X-Wing Campaign
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        script(src="/js/gui.js", type="application/javascript", async="true")
    body

        nav
        div(id="view-main" class="container")
            div(class="jumbotron")
                h1 Welcome
                form(id="login")
                    div(class="input-group")
                        label(for="login-username") Username:
                        input(id="login-username" name="login-username" class="form-control")
                    div(class="input-group")
                        label(for="login-password") Password:
                        input(type="password" id="login-password" name="login-password" class="form-control")

                    div(class="input-group")
                        button(type="submit" class="btn btn-primary btn-lg") Login

        footer
