doctype strict
html(lang="en")
    head
        title X-Wing Campaign
        meta(charset="utf-8")
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        script(src="/js/gui.js", type="application/javascript", async="true")
    body
        nav(id="header" class="navbar navbar default")
        div(id="messages" class="container")
        div(id="main" class="container")
        footer
